body {
  margin-bottom: 50px;
  margin-top: 20px;
}

img {
  width: 220px;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 3px #464646;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  direction: rtl;
  position: relative;
  margin-top: 40px;
  text-align: center;
  font-size: x-large;
  font-family: Tahoma;
}
h3 {
  direction: rtl;
  position: relative;
  text-align: center;
  font-family: Tahoma;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
ul {
  direction: rtl;
  font-size: large;
  font-family: Tahoma;
}
li {
  margin-bottom: 20px;
}

#b1 {
  font-size: 18px;
  border-radius: 66px 0px 0px 66px;
  width: 40px;
  outline: none;
  background-color: #c5c5c5;
  border: 2px #8a8a8a solid;
  position: fixed;
  top: 5px;
  left: 15px;
  transition: 0.5s;
}

#b2 {
  font-size: 17.5px;
  border-radius: 0px 66px 66px 0px;
  width: 41px;
  outline: none;
  background-color: #f1f1f1;
  border: 2px #8a8a8a solid;
  border-left: none;
  position: fixed;
  top: 5px;
  left: 55.2px;
  transition: 0.5s;
}

#b1:hover {
  background: #ffffff;

  box-shadow: 1px 1px 10px #1b6aff;
}

#b2:hover {
  background: #585858;

  box-shadow: 1px 1px 10px #1b6aff;
}

.D {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: #4caf50;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 1ms;
}

.D:hover {
  background-color: #3e8e41;
  font-size: 16.5px;
  box-shadow: 0px 0px 5px 3px #5e5e5e;
}

.D:active {
  background-color: #32c437;
  box-shadow: 0px 0px 5px 3px #a1a1a1;
  transform: translateY(4px);
  font-size: 16px;
}

a {
  text-decoration: none;
}

.Me {
  font-size: 18px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background-color: #e6e6e6;
  background-image: url(icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 20px;
  left: 18px;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 2px #1a85ff91;
}

.Me:active {
  box-shadow: 0px 0px 12px 2px #0077ff;
  background-color: #929292;

}

@media screen and (max-width: 441px) {
  img {
    width: 150px;
    border-radius: 30px;
  }

  h1 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }
h2{

font-size: 21px;

}
  li {
    font-size: medium;
  }
.D{
  font-size: 14px;
  font-weight: bold;


}

.D:hover {
  background-color: #3e8e41;
  font-size: 14.5px;
  box-shadow: 0px 0px 5px 3px #5e5e5e;
}

.D:active {
  font-size: 14px;
}
  #b1 {
    font-size: 13.5px;
    border-radius: 66px 0px 0px 66px;
    width: 28px;
    outline: none;
    background-color: #c5c5c5;
    border: 2px #8a8a8a solid;
    position: fixed;
    top: 5px;
    left: 15px;
    transition: 0.5s;
  }

  #b2 {
    font-size: 13.6px;
    border-radius: 0px 66px 66px 0px;
    width: 25.5px;
    outline: none;
    background-color: #f1f1f1;
    border: 2px #8a8a8a solid;
    border-left: none;
    position: fixed;
    top: 5px;
    left: 43px;
    transition: 0.5s;
  }
}
